<!doctype html>
<html lang="{{ settings.language }}">

<head>
  <title>{{ t('common.title') }}: {{ t('common.description') }}</title>
{% include 'common/header.twig.html' %}
</head>

<body class="page__about">
{% embed 'common/navbar_not_login.twig.html' %}
  {% block navbar_nav_left %}
    <li class="nav-item">
      <a class="nav-link" href="#features">{{ t('about.navbar.features') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#pricing">{{ t('about.navbar.pricing') }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#getting-started">{{ t('about.navbar.getting-started') }}</a>
    </li>
  {% endblock %}
{% endembed %}

<div class="header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">{{ t('common.title') }}</h1>
    <p class="lead">✨{{ t('common.description') }}✨</p>
  </div>
</div>

<div class="container mt-4 text-center" id="features">
  <h1>{{ t('about.features.title') }}</h1>
  <p>
    {{ t('about.features.desc') }}
  </p>
  <p>
    ほげぴよ(あとで作る)
  </p>
</div>

<div class="container mt-4 text-center" id="pricing">
  <hr>
  <h1>{{ t('about.pricing.title') }}</h1>
  <p>
    {{ t('about.pricing.body') }}
  </p>
</div>

<div class="container mt-4 text-center" id="getting-started">
  <hr>
  <h1>{{ t('about.getting-started.title') }}</h1>
  <a href="/auth/create_team" class="btn btn-lg btn-primary mt-2">{{ t('about.getting-started.create-team') }}</a>
  <p class="mt-2">
    {{ t('about.getting-started.have-an-account') }}<a href="/auth/login" class="ml-1">{{ t('about.getting-started.login') }}</a>
  <p>

    <div class="alert alert-warning mt-4" role="alert">
      <h4 class="alert-heading">{{ i('exclamation-triangle') }} {{ t('about.alpha-version-is-unstable.title') }}</h4>
      <p class="mt-1 mb-0">
        {{ t('about.alpha-version-is-unstable.body') }}<br>
        <a href="{{ settings.discord_link }}" target="_blank">{{ i('discord', 'b') }} Official Discord Server</a>
      </p>
    </div>
</div>

{% include 'common/footer.twig.html' %}
</body>

</html>
