<!doctype html>
<html lang="{{ settings.language }}">

<head>
  {% include 'common/header.twig.html' %}
  <title>{{ t('common.title') }}: {{ t('common.description') }}</title>
</head>

<body class="page__about">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">{{ t('common.title') }} <small class="ml-1">(Alpha)</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ settings.help_link }}" target="_blank">Help {{ i('question-circle') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ settings.discord_link }}" target="_blank">Support {{ i('discord', 'b') }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ settings.github_link }}" target="_blank">Source {{ i('github', 'b') }}</a>
      </li>
      <li class="nav-item ml-lg-2">
        <a class="btn btn-outline-warning" href="auth/login">{{ t('index.login-to-team') }}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">{{ t('common.title') }}</h1>
    <p class="lead">✨{{ t('common.description') }}✨</p>
  </div>
</div>

<div class="container text-center">
  <h1>無料で使える便利なアプリ</h1>
  <p>
    チーム作業で役に立つ様々なアプリが全て無料でご利用頂けます。
  </p>
  <p>
    ほげぴよ(あとで作る)
  </p>
</div>

<div class="container mt-4 text-center">
  <hr>
  <h4>なぜ無料で利用できるのですか？</h4>
  私たちは利益を目的としない有志のグループで、また全てのソースコード(プログラム)を公開しています。<br>
  正式版となった場合でも基本機能を有償化する予定はありません。
</div>

<div class="container mt-4 text-center">
  <hr>
  <h1>今すぐ始める</h1>
  <a href="auth/register" class="btn btn-lg btn-primary mt-2">アカウントを作成</a>
  <p class="mt-2">
    アカウントをお持ちですか？<a href="auth/login">ログインする</a>
  <p>

    <div class="alert alert-warning mt-4" role="alert">
      <h4 class="alert-heading">{{ i('exclamation-triangle') }} Alpha版の為、動作が不安定な場合があります。</h4>
      <p>
        不具合・機能要望などは
        <a href="{{ settings.github_link }}/issues/new" target="_blank">Issueを作成</a>
        するか、
        <a href="{{ settings.discord_link }}" target="_blank">{{ i('discord', 'b') }} 公式Discordサーバ</a>
        で私たちにコンタクトを取ってもらえると嬉しいです。<br>
      </p>
    </div>
</div>

{% include 'common/footer.twig.html' %}
</body>

</html>
