.page__about {
  .navbar {
    background: rgba($black, 0.5);
  }

  .header {
    background: $primary;
    color: #fff;
    padding-top: 5rem;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .social-link {
    i {
      font-size: 1.2rem;
    }

    margin-right: 0.5rem;
  }
}
